/*the classes that start with "own-..." are own classes, the others are adapted from "Bootstrap"*/

:root {
  --widthLogo: 12.5rem;
  --first-font: 'tillana';
  --second-font: 'verdana';
  --tirdht-font: 'La Belle Aurore',
    cursive;
  --fourth-font: 'nunito sans';
  --tags-color: #515151;
  --tittle-color: #00A8F3;
  --text-color: white;
}

html {
  font-size: 16px;
}

body {
  background-color: #1D1D1D !important;
}

button {
  color: black !important;
}

a {
  text-decoration: none !important;
}

@keyframes down {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(10px);
  }

  100% {
    transform: translatey(0px);
  }
}

.own-scroll-down-left {
  color: var(--text-color);
  font-family: var(--first-font);
  font-weight: 600;
  font-size: 0.7rem;
  transform: rotate(90deg);
  width: fit-content;
  height: auto;
  animation-name: down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  bottom: 10px;
  left: 2%;
  writing-mode: vertical-rl;
}

.own-scroll-down-right {
  color: var(--text-color);
  font-family: var(--first-font);
  font-weight: 600;
  font-size: 0.7rem;
  transform: rotate(90deg);
  width: fit-content;
  height: auto;
  animation-name: down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  bottom: 10px;
  right: 2%;
  writing-mode: vertical-rl;
}


/* ----------------NavBar classes----------------*/

.own-mbtn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  z-index: 100;
  background-color: black !important;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 3px;
}

.navbar-toggler {
  padding: 4px 12px !important;
  font-size: 20px !important;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px !important;
  transition: box-shadow .15s ease-in-out;
}

.own-navLogo {
  width: 200px;
  height: auto;
}

.own-dicNavLogo {
  padding-top: 44px !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--text-color) !important;
  font-weight: bold;
  font-size: 22px;
  border-top: 1px solid #757575;
  border-bottom: 1px solid #757575;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

}

.nav-link:hover {
  color: var(--tittle-color) !important;
}


.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 208px !important;
  max-height: 100vh !important;
  visibility: hidden;
  background-color: #1D1D1D !important;
  background-clip: padding-box;
  outline: 0;
  transition: transform .3s ease-in-out;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px !important;
}


.own-iconLinkedinGithubNavBar {
  color: #757575;
  width: 2.5rem;
}

.own-iconLinkedinGithubNavBar:hover {
  color: var(--tittle-color);

}

.own-main-menu {
  width: 208px;
  background-color: #181818;
  height: 100vh;
  position: fixed;
  right: 0 !important;
  top: 0;
  left: calc(100% - 208px);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 16px !important;
}

.navbar-nav {
  height: calc(100vh - 300px) !important;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* ----------------Home classes----------------*/
.own-divHome {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-top: 5rem;
}

.own-tags {
  color: var(--tags-color);
  position: absolute;
  bottom: 0;
  left: 1%;
  font-style: italic;
  font-size: 1.8rem;
  font-family: var(--tirdht-font);
}

.own-topTags {
  bottom: auto;
  top: 2rem;
}

.own-topTags::before {
  content: '<html>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  position: absolute;
  margin-top: -1rem;
  left: 2vw;
}

.own-topTags::after {
  content: '<body>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  position: absolute;
  margin-top: 1rem;
  left: 8vw;
}

.own-divLogoHome {
  width: fit-content;
  position: relative;
}

.own-divLogoHome::before {
  content: '<img>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  position: absolute;
  margin-top: -1.5rem;
  left: -5%;
}

.own-divLogoHome::after {
  content: '</img>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  position: absolute;
  margin-top: 12rem;
  left: -5%;
}

.own-logoHome {
  width: auto;
  height: 12rem;
  position: relative;
}

.own-divName {
  width: fit-content;
}

.own-h1Home {
  font-family: var(--fourth-font);
  font-size: 1.5625rem;
  color: var(--text-color);
  font-weight: 900;
  position: relative;
  width: fit-content;
}

.own-h1Home::before {
  content: '<h1>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: -1rem;
  left: -10%;
}

.own-h1Home::after {
  content: '</h1>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: 5rem;
  left: -10%;
}

.own-h1Name {
  font-family: var(--first-font);
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--text-color);
}

.own-h1FS {
  font-family: var(--second-font);
  font-size: 0.625rem;
  color: var(--text-color);
}

/* ---------------About Me classes----------------*/
.own-divAbout {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  position: relative;
}

.own-divContent {
  padding: 0 10%;
  height: 100vh;
}

.own-h2About {
  color: var(--tittle-color);
  font-family: var(--fourth-font);
  font-weight: 700;
  position: relative;
}

.own-h2About::before {
  content: '<h2>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: -1rem;
  left: 0%;
}

.own-h2About::after {
  content: '</h2>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: 2rem;
  left: 0%;
}

.own-pAbout {
  color: var(--text-color);
  font-family: var(--fourth-font);
  font-size: 1.125rem;
  font-weight: 600;
  position: relative;
}

.own-pAbout::before {
  content: '<p>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: -1.5rem;
  left: 0%;
}

.own-pAbout::after {
  content: '</p>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: 2rem;
  left: 0%;
}

.own-aAbout {
  color: var(--tittle-color);
  font-family: var(--fourth-font);
  font-size: 0.9375rem;
  font-weight: 600;
  position: relative;
}

.own-aAbout::before {
  content: '<a>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: -1rem;
  left: 0%;
}

.own-aAbout::after {
  content: '</a>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: 1rem;
  left: 0%;
}

/* ---------------Skills classes----------------*/
.own-divSkills {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  position: relative;
}

.own-divContentSkills {
  padding: 0 10%;
  height: 100vh;
}

.own-h2Skills {
  color: var(--tittle-color);
  font-family: var(--fourth-font);
  font-weight: 700;
  position: relative;
}

.own-h2Skills::before {
  content: '<h2>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: -1rem;
  left: 0%;
}

.own-h2Skills::after {
  content: '</h2>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: 2rem;
  left: 0%;
}

.own-pSkills {
  color: var(--text-color);
  font-family: var(--fourth-font);
  font-size: 1.125rem;
  font-weight: 600;
  position: relative;
}

.own-pSkills::before {
  content: '<p>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: -1.5rem;
  left: 0%;
}

.own-pSkills::after {
  content: '</p>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: 2rem;
  left: 0%;
}

.own-divTecnologies {
  position: relative;
  background-color: white;
  border-radius: 1rem;
}

.own-divTecnologies::before {
  content: '<div>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: -1.5rem;
  left: 0%;
}

.own-divTecnologies::after {
  content: '</div>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  bottom: -1.5rem;
  left: 0%;
}

.own-logosSkills {
  height: 3.125rem;
  margin: 0.6rem;
}

/* ---------------Work classes----------------*/
.own-divWork {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  position: relative;
}

.own-divContentWork {
  padding: 0 10%;
  height: 100vh;
}

.own-h2Work {
  color: var(--tittle-color);
  font-family: var(--fourth-font);
  font-weight: 700;
  position: relative;
}

.own-h2Work::before {
  content: '<h2>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: -1rem;
  left: 0%;
}

.own-h2Work::after {
  content: '</h2>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: 2rem;
  left: 0%;
}

.own-divWorks {
  position: relative;

}

.own-divWorks::before {
  content: '<div>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: -1.5rem;
  left: 0%;
}

.own-divWorks::after {
  content: '</div>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  bottom: -1.5rem;
  left: 0%;
}

.own-logosWorks {
  height: 7.5rem;
}

.carousel-inner {
  position: relative;
  width: 7.5rem !important;
  overflow: hidden;
}

/* ---------------Contact classes----------------*/
.own-divContact {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  position: relative;

}

.own-divContentContact {
  padding: 0 10%;
  height: 100vh;
  padding-bottom: 2rem !important;
}

.own-h2Contact {
  color: var(--tittle-color);
  font-family: var(--fourth-font);
  font-weight: 700;
  position: relative;
}

.own-h2Contact::before {
  content: '<h2>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: -1rem;
  left: 0%;
}

.own-h2Contact::after {
  content: '</h2>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: 2rem;
  left: 0%;
}

.own-pContact {
  color: var(--text-color);
  font-family: var(--fourth-font);
  font-size: 0.8125rem;
  font-weight: 600;
  position: relative;
}

.own-pContact::before {
  content: '<p>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: -1.5rem;
  left: 0%;
}

.own-pContact::after {
  content: '</p>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: 1rem;
  left: 0%;
}

.own-divForm {
  position: relative;
  background-color: transparent;
}

.own-divForm::before {
  content: '<form>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: -1.5rem;
  left: 0%;
}

.own-divForm::after {
  content: '</form>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  bottom: 0rem;
  left: 0%;
}

.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.own-NE {
  min-width: 10rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.2rem 0.75rem !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #757575 !important;
  background-color: #2B2B2B !important;
  background-clip: padding-box;
  border: none !important;
  appearance: none;
  border-radius: 0 !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

textarea {
  resize: vertical;
  min-height: 6rem !important;
}

.own-btnSend {
  color: white !important;
  border: 1px solid #00A8F3;
  background-color: #2B2B2B;
  transition: 1s;
}

.own-btnSend:hover {
  color: black !important;
  background-color: #00A8F3;
  border: 1px solid white;
}

.own-tagsbottom {
  color: var(--tags-color);
  position: absolute;
  bottom: 0;
  left: 1%;
  font-style: italic;
  font-size: 1.8rem;
  font-family: var(--tirdht-font);
}

.own-bottomTags {
  bottom: 2rem;
  top: auto;
}

.own-bottomTags::before {
  content: '</body>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  position: absolute;
  margin-top: -1.5rem;
  left: 8vw;
}

.own-bottomTags::after {
  content: '</html>';
  font-family: var(--tirdht-font);
  color: var(--tags-color);
  font-size: 1rem;
  position: absolute;
  margin-top: 0rem;
  left: 2vw;
}

.invalid-tooltip {
  position: absolute;
  top: -0.5rem !important;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.2rem 0.2rem !important;
  margin-top: 0.1rem !;
  right: 2rem !important;
  font-size: .6rem !important;
  color: #fff;
  background-color: rgba(220, 53, 69, .9);
  border-radius: 0.25rem;
}

.swal-modal {
  width: 15rem;
  opacity: 0;
  pointer-events: none;
  background-color: #2B2B2B;
  text-align: center;
  border-radius: 0.3125rem;
  position: static;
  margin: 1.25rem auto;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 10001;
  transition: opacity .2s, -webkit-transform .3s;
  transition: transform .3s, opacity .2s;
  transition: transform .3s, opacity .2s, -webkit-transform .3s;
}

.swal-title {
  color: #00A8F3;
  font-weight: 600;
  text-transform: none;
  position: relative;
  display: block;
  padding: 0.8125rem 0rem;
  font-size: 1.2rem;
  line-height: normal;
  text-align: center;
  margin-bottom: 0;
}

.swal-text {
  font-size: 0.8rem;
  position: relative;
  float: none;
  line-height: normal;
  vertical-align: top;
  text-align: left;
  display: inline-block;
  margin: 0;
  padding: 0 0.16rem;
  font-weight: 400;
  color: white;
  text-align: center;
  max-width: calc(100% - 1.25rem);
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.swal-icon--success:before {
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
  background-color: #2B2B2B;
}

.swal-icon--success:after {
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 60px;
  transform-origin: 0 60px;
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
  background-color: #2B2B2B;
}

.swal-icon--success__hide-corners {
  width: 8px;
  height: 100px;
  background-color: #fff;
  padding: 1px;
  position: absolute;
  left: 28px;
  top: 4px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #2B2B2B;
}

.swal-button {
  background-color: #1D1D1D;
  color: #fff !important;
  border: 1px solid #00A8F3;
  box-shadow: none;
  border-radius: 0.325rem;
  font-weight: 600;
  font-size: 0.6rem;
  padding: 0.3rem 1rem;
  margin: 0;
  cursor: pointer;
  transition: 0.5s;
}

.swal-button:hover {
  background-color: #00A8F3 !important;
  color: black !important;
  border: 1px solid white;
  box-shadow: none;
  border-radius: 0.325rem;
  font-weight: 600;
  font-size: 0.6rem;
  padding: 0.3rem 1rem;
  margin: 0;
  cursor: pointer;
}

@media (min-width: 390px) and (max-width: 599px) {
  html {
    font-size: calc(16px * 1.3);
  }

}

@media (min-width: 600px) and (max-width: 749px) {
  html {
    font-size: calc(16px * 1.6);
  }

}

@media (min-width: 750px) and (max-width: 991px) {
  html {
    font-size: calc(16px * 1.7);
  }

}


@media (min-width: 992px) {
  html {
    font-size: calc(16px * 1.8);
  }

  /* ----------------Home classes----------------*/
  .own-divHome {
    width: calc(100vw - 208px);
  }

  /* ---------------About Me classes----------------*/
  .own-divAbout {
    width: calc(100vw - 208px);
  }

  /* ---------------Skills classes----------------*/
  .own-divSkills {
    width: calc(100vw - 208px);
  }

  /* ---------------Work classes----------------*/
  .own-divWork {
    width: calc(100vw - 208px);
  }

  /* ---------------Contact classes----------------*/
  .own-divContact {
    width: calc(100vw - 208px);

  }

}