/*the classes that start with "own-..." are own classes, the others are adapted from "Bootstrap"*/

:root {
  --widthLogo: 12.5rem;
  --first-font: 'Pacifico',
    cursive;
  --second-font: 'Overpass Mono',
    monospace;
  --navBarHeight: 64px;
  --footerHeight: 39px;
}

html {
  font-size: 30px;
}

body {
  background-color: #1D1D1D !important;
}

button {
  color: black !important;
}

a {
  text-decoration: none !important;
}

/* ----------------NavBar classes----------------*/

.own-mbtn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  z-index: 100;
  background-color: black !important;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 3px;
}

.navbar-toggler {
  padding: 4px 12px !important;
  font-size: 20px !important;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px !important;
  transition: box-shadow .15s ease-in-out;
}

.own-navLogo {
  width: 200px;
  height: auto;
}

.own-dicNavLogo {
  padding-top: 44px !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: white !important;
  font-weight: bold;
  font-size: 22px;
  border-top: 1px solid #757575;
  border-bottom: 1px solid #757575;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

}

.nav-link:hover {
  color: #00A8F3 !important;
}


.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 208px !important;
  max-height: 100vh !important;
  visibility: hidden;
  background-color: #1D1D1D !important;
  background-clip: padding-box;
  outline: 0;
  transition: transform .3s ease-in-out;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px !important;
}


.own-iconLinkedinGithubNavBar {
  color: #757575;
  width: 2.5rem;
}

.own-iconLinkedinGithubNavBar:hover {
  color: #00A8F3;
  
}

.own-main-menu {
  width: 208px;
  background-color: #181818;
  height: 100vh;
  position: fixed;
  right: 0 !important;
  top: 0;
  left: calc(100% - 208px);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 16px !important;
}

.navbar-nav {
  height: calc(100vh - 18.75rem) !important;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* ----------------Home classes----------------*/
.own-divHome {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-top: 5rem;
}

.own-tags {
  color: #515152;
  position: absolute;
  bottom: 0;
  left: 1%;
  font-style: italic;
  font-size: 1.8rem;
  font-family: 'La Belle Aurore', cursive;
}

.own-topTags {
  bottom: auto;
  top: 2rem;
}

.own-topTags::before {
  content: '<html>';
  font-family: 'La Belle Aurore', cursive;
  color: #515151;
  font-size: 1rem;
  position: absolute;
  margin-top: -1rem;
  left: 2vw;
}

.own-topTags::after {
  content: '<body>';
  font-family: 'La Belle Aurore', cursive;
  color: #515151;
  font-size: 1rem;
  position: absolute;
  margin-top: 1rem;
  left: 8vw;
}

.own-divLogoHome {
  width: 100%;
}

.own-divLogoHome::before {
  content: '<img>';
  font-family: 'La Belle Aurore', cursive;
  color: #515151;
  font-size: 1rem;
  position: absolute;
  margin-top: -1.5rem;
  left: 20vw;
}

.own-divLogoHome::after {
  content: '</img>';
  font-family: 'La Belle Aurore', cursive;
  color: #515151;
  font-size: 1rem;
  position: absolute;
  margin-top: 12rem;
  left: 20vw;
}

.own-logoHome {
  width: auto;
  height: 12rem;
  position: relative;
}

.own-divName {
  width: fit-content;
}

.own-h1Home {
  font-family: 'nunito sans';
  font-size: 1.5625rem;
  color: white;
  font-weight: 900;
  position: relative;
  width: fit-content;
}

.own-h1Home::before {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #515151;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: -1rem;
  left: 5%;
}

.own-h1Home::after {
  content: '</h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #515151;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  margin-top: 5rem;
  left: 5%;
}

.own-h1Name {
  font-family: 'tillana';
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
}

.own-h1FS {
  font-family: 'verdana';
  font-size: 0.625rem;
  color: white;
}

@keyframes down {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(10px);
  }

  100% {
    transform: translatey(0px);
  }
}

.own-scroll-down-left {
  color: white;
  font-family: 'tillana';
  font-weight: 600;
  font-size: 0.7rem;
  transform: rotate(90deg);
  width: fit-content;
  height: auto;
  animation-name: down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  bottom: 10px;
  left: 2%;
  writing-mode: vertical-rl;
}

.own-scroll-down-right {
  color: white;
  font-family: 'tillana';
  font-weight: 600;
  font-size: 0.7rem;
  transform: rotate(90deg);
  width: fit-content;
  height: auto;
  animation-name: down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  bottom: 10px;
  right: 2%;
  writing-mode: vertical-rl;
}


